@charset "UTF-8";
body {
  font-family: "Microsoft YaHei";
  background: #f1f1f1;
}

/*导航开始*/
.mmb_nav {
  padding-top: 10px;
  padding-bottom: 5px;
}

.mmb_nav > .nav_row {
  padding: 10px 0;
  background-color: #fff;
}

.mmb_nav > .nav_row > li {
  width: 25%;
  float: left;
  margin-top: 15px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.mmb_nav > .nav_row a {
  width: 100%;
  height: 100%;
  display: block;
}

.mmb_nav > .nav_row img {
  width: 50px;
}

.mmb_nav > .nav_row p {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

/*导航结束*/
/*list_title mmb_brandrank开始*/
.list-title-content {
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #ff9000;
  padding-left: 10px;
  font-size: 16px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
}

.list-title-content > span:last-child {
  width: 20px;
  height: 20px;
  line-height: 35px;
  float: right;
  margin-right: 16px;
  font-size: 25px;
}

/*list_title mmb_brandrank结束*/
/*mmb_product开始*/
.mmb_product .mmb_product_list {
  background-color: #fff;
  text-align: left;
  font-size: 14px;
}

.mmb_product_list > ul > li {
  padding: 10px 8px;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.mmb_product_list .pic {
  width: 100px;
  float: left;
}

.mmb_product_list .pic > img {
  width: 100px;
  height: 100px;
}

.mmb_product_list .info {
  font-size: 14px;
  padding-left: 100px;
}

.mmb_product_list .info .title {
  color: #333333;
  font-size: 15px;
  text-align: left;
  min-height: 57px;
}

.mmb_product_list .info .title > span {
  color: #ff6c00;
  display: inline;
}

.mmb_product_list .info .other {
  color: #a1a1a1;
  font-size: 12px;
}

.mmb_product_list .info .other_l {
  float: left;
}

.mmb_product_list .info .other_r {
  float: right;
}

.mmb_product_list .info .other_r i {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}

.mmb_product .more {
  text-align: center;
  width: 100%;
}

.mmb_product .more a {
  display: block;
  line-height: 30px;
  font-size: 13px;
  background-color: #F4F4F4;
  margin: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-image: linear-gradient(#ffffff, #f4f4f4);
}
/*mmb_product结束*/
